<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coder.rental.mapper.RoleMapper">
    <select id="selectRoleNameListByUserId"
            resultType="java.lang.String"
            parameterType="java.lang.Integer">
        select distinct r.role_name
        from sys_user u
                 left join sys_user_role ur on u.id = ur.user_id
                 left join sys_role r on ur.role_id = r.id
        where u.id = #{value}
        order by r.id
    </select>
    <select id="selectRoleNameListByPermissionId"
            resultType="java.lang.String"
            parameterType="java.lang.Integer">
        select distinct r.role_name
        from sys_permission p
                 left join sys_role_permission rp on p.id = rp.permission_id
                 left join sys_role r on rp.role_id = r.id
        where p.id = #{value}
        order by r.id
    </select>
</mapper>
